body{
  background-image: url("wood_background.jpg");
}

.board{
  background: darkgray;
  width: 900px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 50px;
  border-width: 20px;

}
.guess-input-field{
  height: 50px;
  display: inline-block;

}

.guess-button{
  display: inline-block;
  width: 30px;
}

.guess-button button{
  width: 30px;
  margin-bottom: 20px;
}

.play-area{
  margin-left: 400px;
  width: 350px;
  padding-top: 30px;
}

.clues{
  display: inline-block;
  padding-left: 15px;
}

.clue{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: inline-block;
}
.clue_bottom{
  margin-bottom: 12px;
}

.correct{
  background-color: green;
}

.close{
  background-color: orange;
}

.miss{
  background-color: lightgray;
}

.old_guesses{
  display: inline-block;
  padding-bottom: 30px;
}
.hidden{
  display: none;
}

.blank{
  background-color: black;
}

form{
  padding-bottom: 15px;
}


.secret-code-container{
  position:absolute;
  top: 100px;
  left: 275px
}
.guesses{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  display: inline-block;
}

.guess-response{
  display: none;
}

.zero{
  background-color: white;
}
.one{
  background-color: crimson;
}

.two{
  background-color: aquamarine ;
}

.three{
  background-color: goldenrod;
}

.four{
  background-color: darkgreen;
}
